body{
    background: #EEF9BF;
}

h1{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    letter-spacing: -0.004em;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 47px;
    color: #75B79E;    
}

main{
    margin: auto 116px;
}

.cartas{
    align-items: center;
}

.cima{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.baixo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.carta{
    width: 117px;
    height: 146px;
    margin-bottom: 34px;
    
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.carta .frente{
    background-color: #A7E9AF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;   
}

.carta .verso{
    transform: rotateY(180deg);    
}

img{
    width: 100px;
    height: 100px;
}

@media (max-width: 335px) {
    h1{
        font-size: 36px;
    }

    main{
        margin: 0px;
    }

    .mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}